<div class="uk-container">
    <hr>

    <article class="uk-comment">
        <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="../assets/img/yo.png" width="80" height="80" alt="avatar">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Alejandro Grance</a>
                    </h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li>29 años</li>
                        <li>Desarrollador Frontend + Backend</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="uk-comment-body">
            <p>
                Soy desarrollador desde el 2019, tengo experiencia en programación orientada a objetos y aplicaciones en
                entorno web, trabajo con Angular (TypeScript, CSS y HTML). Manejo la estructura de APIs usando NodeJS,
                tengo conocimientos del servicio EC2 de AWS, modelado de bases de datos con PostgreSQL y hosting en
                Firebase.
            </p>
        </div>
    </article>

    <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">Experiencia Profesional</a></h1>

        <p class="uk-text-lead">Desarrollador Angular + Backend</p>

        <p class="uk-article-meta">Sistema de Gestión de mantenimiento | Septiembre de 2019</p>

        <p>
            Desarrollé mi proyecto de tesis “Sistema de Gestión de Mantenimiento”. Inicié con el analisis de la
            situación actual en una empresa seleccionada que necesitaba la automatización de algunas áreas.
            Relevé los requerimientos y estructuré los módulos necesarios para desarrollar el proyecto y luego realicé
            el modelado de base de datos en PostgreSQL.
            Configuré la estructura API para realizar las consultas a la base de datos usando NodeJS y algunas librerias
            como Express y Sequelize dentro de un servicio de AWS.
            Desarrollé la interfáz de usuario y los módulos del proyecto con Angular.

        </p>

        <p class="uk-text-lead">Desarrollador Angular + Backend</p>

        <p class="uk-article-meta">Sistema de registros contables “Contable-AG” | Febrero de 2020 a la fecha</p>

        <p>
            Desarrollé el sistema “Contable-AG” enfocado a un profesional en contabilidad que necesitaba la
            automatización de los registros, y emisión de reportes de facturas diarias de sus clientes.
            Llevé a cabo el análisis de la necesidad del cliente y basado en los requerimientos estructuré los módulos,
            cree la API con NodeJS, Express y Sequelize para el modelado de datos y conexión con la base de datos
            PostgreSQL.
            Desarrollé la interfáz de usuario y los módulos del proyecto con Angular y alojé en un servicio de Firebase
            público.

        </p>

        <hr>

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">Historial Académico</a></h1>

        <p class="uk-text-lead">Universidad Técnica de Comercialización y Desarrollo</p>

        <p class="uk-article-meta">Enero 2012 a Septiembre 2019</p>

        <p>
            A principios del 2019 desarrollé en entorno web el “Sistema de Gestión de Mantenimiento”. Fue mi proyecto de
            tesis y cumplió con el objetivo de automatizar áreas de un departamento de una empresa seleccionada. Gracias
            al proyecto la universidad me otorgó el título de Ingeniero en Sistemas Informáticos a finales del mismo
            año.
        </p>

    </article>

    <hr>

    <ul class="uk-iconnav">
        <li>
            <a href="https://www.linkedin.com/in/alejandro-grance-bb5261184/" target="_blank"
                uk-icon="icon: linkedin"></a>
        </li>
        <li>
            <a href="https://github.com/AleGrance" target="_blank" uk-icon="icon: github"></a>
        </li>
        <li>
            <a href="https://wa.me/+595986153301" target="_blank" uk-icon="icon: whatsapp"></a>
        </li>
    </ul>

    <hr>
</div>